{% extends 'base.html.twig' %}

{% block title %}Société Central Canine{% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}
   {% include 'includes/header.html.twig' %}
   <div class="section-team">
   <div class="container">
        <div class="row">
             <div class="col-md-12">
             <div class="tabs">
  <input type="radio" name="tabs" id="tabone" checked="checked">
  <label for="tabone"><h4>Historique</h4></label>
  <div class="tab"><br>
  <h4>Création de la Rhône-Alpes de 1890 à nos jours.<br> 
Début de la Canine Rhône-Alpes<br> 
DEBUT DE LA RHÔNE-ALPES<br> <br> 
<b> Dès 1890, un petit groupe d’amateurs éclairés et dévoués organisent une première exposition à Lyon.</b> <br> <br> 
Malgré le peu de renseignements qui subsistent sur celle-ci, tout laisse à croire que cette présentation 
était sensiblement identique aux expositions actuelles. Elle eut un certain succès, 
et permis aux éleveurs de la région de se connaître, et de semer, dans leur esprit, l’idée d’organisations semblables.<br> <br> 
Trois ans plus tard, une autre exposition est organisée à Chalamont, dans l’Ain, au cœur de la Dombes. <br> 
Le comité d’organisation était composé de Mrs Blanc, Ducurtyl, Guigne, Janez, Lamaignière et France, avec comme président, 
Alexis Salomon, conseiller général de l’Ain et Paul Caillard comme président d’honneur. <br> 
On retrouvera les noms de ces amateurs durant de nombreuses années dans la vie de la Régionale, 
car ils constituent le cercle fondateur de celle-ci.<br> 
L ‘exposition eut un vif succès, présentant 151 chiens de race pure à un public de chasseurs, de garde-chasse, 
de propriétaires terriens et d’éleveurs locaux qui n’auraient pas fait le déplacement jusqu’à la grande ville de Lyon, 
distante d’une quarantaine de kilomètres.<br> 
Encouragés par ce succès, la même équipe décide d’organiser une nouvelle exposition, cette fois ci à Saint Etienne, les 28 et 29 avril 1894. <br> 
160 chiens furent exposés, et décision fut prise d’organiser des concours de travail, <br> 
dont le premier eut lieu à Chalamont les 16 et 17 mars 1895, sous forme d’un field trial.<br> 
En 1896, une troisième exposition est organisée à Villefranche sur Saone, dans le Rhône, et F.Masson,dans l’Acclimatation, 
journal des éleveurs « paraissant le jeudi et le dimanche », nous en livre les principales caractéristiques.<br> 
« Le matériel qui a été inauguré cette année est des plus confortables et a un aspect très agréable ; 
il comprend pour chaque chien un compartiment de 1 mètre de large sur 2 mètres de profondeur avec des cloisons pleines sauf sur le devant, 
ce qui offre l’avantage d’isoler les animaux et de rendre ainsi le séjour de l’exposition moins fatiguant. <br> 
ne toiture entièrement en bois recouvert d’un carton bitumé met les chiens à l’abri de toutes les intempéries et, 
par surcroît de précautions, une toile est disposée de façons à pouvoir s’abattre durant la nuit. »<br> <br> 
Comme on le voit, nos aînés avaient, outre un grand respect du chien, mis en place les bases d’une exposition canine réussie : <br> 
plus de 6 000 personnes ont visitées l’exposition dans la seule journée du lundi, exposition qui durait 3 jours !<br> <br> 
<b>1896 - NAISSANCE DE LA SOCIETE CANINE DU SUD EST</b><br> <br> 
Fort du succès de l’exposition de Villefranche, les organisateurs, principalement des chasseurs, décident de créer une structure afin 
d’organiser des expositions canines et des concours de travail.<br> 
Un comité provisoire se met en place composé de Mrs Vially, Blanc, le comte de Montal en tant que président, Avet, Jonez, Lamaignière, 
Malatier, Mulard et Steiner, Pons et Grégoire. Ce comité est chargé de rédiger des statuts et de s’occuper de l’organisation définitive. <br> 
La Société Canine du Sud Est, qui deviendra au début des années 80, la Société Canine Rhône Alpes est née.<br> 
F. Masson, en 1896, la définit comme telle : « La Société Lyonnaise a un caractère particulier en ce sens que, <br> 
fondée par des chasseurs, elle a l’intention, tout en se proposant pour but le perfectionnement de toutes les races canines, <br> 
de s’occuper particulièrement de tout ce qui concerne la chasse et d’organiser ou de patronner tous les concours 
dans lesquels les chiens sont appelés à faire preuve des qualités inhérentes à leurs races.<br> 
On ne saurait trop louer la Société de s’attacher à améliorer les aptitudes qui, pour les races de chasse et d’utilité ont au moins autant, 
je dirai même davantage, d’importance que les qualités de formes et de ne pas s’en tenir seulement aux expositions qui 
sont plus préjudiciables que favorables pour ces races, du moins lorsqu’elles sont organisées de façon qu’on y prime uniquement la beauté, 
sans tenir aucun compte des aptitudes spéciales qui caractérisent les espèces canines. »<br> <br> 
Le débat, déjà ouvert en 1896, continue d’animer bien des discussions canines !<br> <br> 

<b>1897 : 1ére EXPOSITION CANINE OFFICIELLE A LYON</b><br> <br> 
Coup d’essai, coup de maître ! Fort de ses premières expériences, 
le comité réunit à Lyon en avril 1897 près de 400 chiens pour 200 maîtres différents. <br> 
Par la qualité des chiens et le nombre et le nombre de races présentées, 
elle est à la hauteur des expositions parisiennes ou anglaises, références en la matière.<br> 
Les chiens sont évidemment représentés au mieux. Le Nouvelliste de Lyon, dans son édition du 24 avril 1897, 
nous les dépeint ainsi :<br> <br> 
« Les chiens de chasse sont représentés des lots absolument remarquables. <br> Les races françaises de chiens courants et de chiens d’arrêts, 
puis les pointers, et surtout un lot de setters males, méritent une attention particulière par la <br> belle condition de leurs formes. 
Très intéressants aussi les fox-terriers et les petits bassets allemands. »<br> <br> 
On remarque aussi les chiens de berger, de garde, mais particulièrement les carlins et petits griffons bruxellois, 
chiens de « luxe et d’agrément. »<br> <br> 
Des races « exotiques » sont mises en valeur, telles que le Charnique de Minorque, <br> 
des chiens de Madagascar ou des chiens du pays des esquimaux !<br> <br> 
<b>ET JUSQU'A MAINTENANT...</b><br><br> 
Les grandes bases de la Société Régionale sont mises en place, et vont se développer jusqu’à aujourd’hui. <br> 
Progressivement, des commissions se mettent en place, concernant le travail, l’utilisation, 
puis les zones géographiques. <br> 
Les clubs locaux se fédèrent autour de la Régionale, des liens plus étroits se tissent avec la S.C.C.<br> <br> 
Les expositions se développent, sur l’ensemble du secteur d’activité : Lyon évidemment, 
mais aussi Saint Etienne, Valence, Bourg en Bresse, Annecy, Romans, Annonay, Montrond les Bains, Roanne, 
Saint Chamond, Grenoble, Moulins, Montluçon, Le Puy en Velay, La Roche sur Foron, Pierrelatte et Evian. <br> 
Cette année sera organisée la 24ème exposition internationale à Eurexpo-Lyon !<br> <br> 
<b>DES EVENEMENTS CANINS NATIONNAL ONT ANIME NOTRE REGIONNAL : </b><br> <br> 
du 1er championnat de France de pistage en 1959 à Satolas, jusqu’au Championnat de France en 1997 
à Villefranche en passant par le Championnat de France de Beauté à Lyon-Eurexpo en 1985.<br> <br> 
La Société Canine du Sud-Est a successivement été dirigée par le Comte de Mortal de sa création, 
en 1896 jusqu’à 1905, puis par Joannès CARRET jusque 1922, puis par Louis de Chomette jusqu’en 1946, 
Louis Baumal jusqu’en 1958, le docteur Bazin jusqu’en 1978, 
la Société Canine Rhône Alpes par Michel Pionchon de 1978 à 1995, enfin Gérard Collomb jusqu’en 
septembre 1999, Pierre Brzézinski jusqu'en 2005, 
Michel GRIOL jusqu'en 2009, Serge GERIN de 2009 à 2016 et Pierre BRZEZINSKI actuellement.<br> <br> 
Forte de plus de 1 100 adhérents, l' Association Canine Territoriale Rhône Alpes va de l’avant, avec l’objectif affirmé de mettre 
en œuvre tous les moyens à sa disposition au service de ses adhérents et du monde canin.</h4>
  </div>
  
  <input type="radio" name="tabs" id="tabtwo">
  <label for="tabtwo"><h4>Les Statuts et Règlement Intérieur</h4></label>
  <div class="tab"><br>
    <H4>STATUTS DE L'ASSOCIATION CANINE TERRITORIALE RHÔNE-ALPES<br> <br> 
Les précédents statuts approuvés par l'Assemblée Générale Extraordinaire du 08 avril 1989 sont remplacés par les présents statuts 
approuvés en Assemblée Générale le 11 avril 2015<br> <br> 
Article 1er : FORME<br> <br> 
Il est formé entre les adhérents aux présents statuts, une association soumise à la loi de 1901. Elle prend la dénomination 
d'Association Canine Territoriale Rhône-Alpes.
Toutes discussions politiques ou religieuses ainsi que les jeux de hasard sont proscrits dans toutes les réunions de l'association 
qui s'interdit d'acheter ou de vendre des chiens pour son propre compte ou de tirer profit des transactions entre éleveurs et acquéreurs de chiens.<br> <br> 
Article 2 : SIEGE<br> <br> 
Son siège Social est fixé à 69100 Villeurbanne - 269, rue Francis de Préssensé.<br>
Il pourra, à tout moment, par décision du Comité, être transféré dans la zone concernée.<br> <br> 
Article 3 : DUREE<br> <br> 
La durée de l'Association est illimitée.<br> <br> 
Article 4 : OBJET<br> <br> 
L'association a pour objet la promotion, dans le territoire qui lui est attribué par la Centrale Canine, de toutes les races de l'espèce canine 
et de la pratique par les chiens des différentes activités reconnues par la Centrale Canine.<br>
Dans ce cadre, elle est l'interlocuteur de l'Administration au plan local.<br> <br> 
Article 5 : MOYENS D’ACTION<br> <br> 
Pour atteindre son objet, elle emploie les moyens d'action suivants qui sont ci-dessous énumérés à titre indicatif et non limitatif :<br> <br> 
 Diffusion par tous moyens et sur tous supports des informations destinées aux cynophiles et au grand public.<br>
 Organisation d'épreuves de sélection morphologiques et comportementales multi-races, de réunions de formation et d'information.<br>
 Participation au recrutement et à la formation des Juges d'utilisation dans les activités non prises en charge par les associations de race ou 
les Commissions d'Utilisation concernées.<br> <br> 
Article 6 : COMPOSITION<br> <br> 
<b>L’association canine territoriale est composée :</b><br><br> 
 De personnes physiques<br>
 Des personnes morales que sont les clubs d'éducation canine et d'utilisation ayant leur terrain dans le territoire d'activité de l'Association.<br>
Pour être membre de l'Association, il faut : pour les personnes physiques :<br>
 Être majeur<br>
 Jouir de ses droits civiques<br>
 Ne pas avoir été condamné pour sévices et/ou mauvais traitements à animaux<br>
 En faire la demande, en joignant le montant de la première cotisation au Comité de l'Association qui statue à bulletin secret et 
n'est pas tenu de faire connaître les motifs de sa décision.<br>
 Si l'adhésion est acceptée par le Comité, la qualité de membre est attribuée rétroactivement au jour du dépôt de la demande.<br> <br> 
Si l'adhésion est refusée, le montant de la première cotisation est restitué sans délai.<br>
Ceux qui paient une cotisation égale au moins à 3 fois celle fixée par le Comité sont appelés membres bienfaiteurs.<br>
Ceux qui ont rendu des services à l'Association peuvent recevoir le titre de membre d'honneur décerné par le Comité.<br>
Ils peuvent être consultés mais ne sont ni électeurs ni, en conséquence, éligibles.<br> <br> 
Pour les personnes morales :<br> <br> 
 - En faire la demande.<br>
 - Etre une association déclarée.<br>
 - Avoir adopté des statuts conformes à ce qui est exigé par la Société Centrale Canine et notamment avoir pour unique objet, 
à l'exclusion de tout autre, de conseiller et de guider ses adhérents d'une part dans l'éducation de leurs chiens pour que ceux-ci 
s'intègrent bien dans l'environnement social et d'autre part d'assurer la promotion et le développement des activités canines reconnues 
par la Centrale Canine et permettre le développement des aptitudes des différentes races pour que les chiens soient mieux en mesure 
de participer aux épreuves et concours.<br>
 - Payer la cotisation.<br>
 -S'engager à respecter les statuts et règlements de l'association territoriale et plus généralement les statuts, 
règlements et consignes de la Centrale Canine.<br>
 S'interdire d'organiser une manifestation sans avoir préalablement obtenu l'autorisation de l'Association Territoriale.<br>
 Le Comité doit se prononcer sur les demandes d'adhésion lors de sa plus proche réunion.<br><br>
A défaut, le postulant pourra saisir la Centrale Canine.<br>
Si l'adhésion est refusée, un recours est possible devant la Centrale Canine.<br>
Si l'adhésion est acceptée par le Comité, la qualité de membre est attribuée rétroactivement au jour du dépôt de la demande.<br><br>
Article 7 : LES RESSOURCES<br> <br> 
Les ressources de l'Association sont :<br> <br> 
 Les cotisations versées par les membres.<br>
 Les droits perçus pour participer aux épreuves de sélection.<br>
 Les revenus des biens ou valeurs qu'elle possède.<br>
 Les subventions et les dons qui lui sont accordés.<br>
 Et plus généralement, toutes ressources autorisées par la loi.<br><br>
Article 8 : COTISATIONS<br> <br> 
Le montant des différentes cotisations est fixé chaque année par le Comité.<br>
La cotisation est due pour l'année en cours par tout membre admis avant le 1er octobre.<br>
A partir du 1 er octobre, les cotisations recueillies lors d'adhésions nouvelles seront comptées pour l’année suivante 
mais l'ancienneté sera décomptée depuis la demande d'adhésion.<br>
Ensuite, la cotisation est payable dans le courant du premier trimestre de chaque année.<br>
Deux personnes vivant ensemble peuvent ne payer qu'une cotisation réduite dont le montant est fixé par le Comité. <br>
Elles ne recevront le bulletin et les informations qu'en un seul exemplaire mais dispose chacune du droit de voter à l'assemblée générale.<br> <br> 
Article 9 : PERTE DE LA QUALITE DE MEMBRE<br> <br> 
a) Démission :<br> <br> 
 Les membres de l'association peuvent démissionner ; la preuve de cette démission peut être faite par tous moyens.<br>
 En cas de démission d'un Club d'Education canine et d'Utilisation, l'Association Territoriale devra aviser sans délai la Centrale Canine.<br> <br> 
b) Radiation de plein droit sera acquise sans formalité :<br> <br> 
 Si un adhérent ne remplit plus les conditions requises pour être membre.<br>
 Si la cotisation n'est pas payée dans le mois de la réception d'un avertissement recommandé avec accusé de réception,
En tout état de cause et même si aucun avertissement n'a été adressé, le non-paiement de la cotisation de l'année au plus tard lors de l'assemblée générale de l'année en cours, entraînera la radiation de plein droit sans formalité.
Dans tous les cas, la radiation sera notifiée.<br> <br> 
c) Exclusion<br> <br> 
Le non-respect des présents statuts, du règlement intérieur et plus généralement des règlements de la cynophilie française définis 
par la Centrale Canine, ou une faute grave contre l'honneur, ou une attitude démontrant que l'adhérent qu'il soit personne physique ou morale, 
n'a plus la volonté de collaborer à l'objet social peuvent entraîner l'exclusion, suivant les règles définies au règlement intérieur de sorte 
que soient respectés les droits de la défense.
d) Décès, Liquidation, Dissolution<br> <br> 
En cas de décès d'un adhérent, ses héritiers ou ayant-droits n'acquièrent pas de plein droit la qualité de membre de l'Association.<br>
En cas de dissolution ou de liquidation judiciaire, la personne morale à qui est transmis l'éventuel produit net de liquidation ne devient 
pas membre de l'association.<br> <br> 
ARTICLE 10 : OBLIGATIONS<br> <br> 
L'Association exerce son activité dans le cadre des statuts règlements et directives de la Fédération "Société Centrale Canine", 
qu'elle s'engage à respecter et à faire respecter.<br>
Elle paie chaque année à la Centrale Canine la cotisation fixée par le Comité de celle-ci. <br> <br> 
Elle est notamment chargée :<br> <br> 
 de diffuser sur tous supports les informations qui lui sont communiquées par la Centrale Canine, d'organiser dans sa zone d'activité des manifestations en veillant à ce que toutes les activités reconnues par la Centrale Canine soient développées.
 d'établir le calendrier des manifestations prévues dans sa zone d'activité et le soumettre à la Centrale Canine.<br>
 d'interroger les associations de race dans sa zone d'activité sur l'identité de leurs délégués régionaux éventuels afin que soient 
établies des relations réciproques<br>
 de se prononcer sur les réclamations et se saisir des infractions constatées au cours des manifestations
organisées dans sa zone d'activité.<br>
 de regrouper et d'encadrer les activités des Clubs d'Education canine et d'Utilisation dans le respect des règlements 
des commissions nationales spécialisées de la Central~ Canine.<br>
 de statuer sur les appels formés par les adhérents des personnes morales qui leur sont affiliées lorsqu'ils sont sanctionnés.<br>
 de rendre compte de son fonctionnement et de ses activités à la Centrale Canine, à chaque fois que celle-ci le demande.<br> <br> 
ARTICLE 11 : DROITS<br> <br> 
L'Association canine territoriale a le droit d'exiger de tout organisateur d'une manifestation canine dans sa zone d'activité 
qu'il sollicite son autorisation.
Elle a le monopole de l'établissement du calendrier des manifestations organisées dans sa zone d'activité.<br>
En conséquence, les dates prévues pour toute manifestation, compétition, concours doivent lui être communiquées afin qu'elles soient 
harmonieusement réparties.<br>
Toutefois, le calendrier ne deviendra définitif qu'après approbation de tous les calendriers par la Centrale Canine.
L'association canine territoriale Rhône-Alpes participe à l'assemblée générale de la "Centrale canine" par la voix 
de ses représentants désignés par le Comité dans les conditions prévues par le règlement intérieur.
Elle compose le collège des associations canines territoriales pour l'élection au Comité de la Centrale Canine de 15 administrateurs dont 
deux sont issus des Clubs d'Education canine et d'Utilisation et trois issus des activités non pratiquées au sein des dits Clubs.
ARTICLE 11 : ADMINISTRATION
L'Association est dirigée par un Comité composé de 18, élus par les membres de l'association.
Pour être électeur, il faut être membre depuis plus de neuf mois et à jour de cotisations, dont celle de l'année en cours.
Pour être éligible, il faut faire acte de candidature dans les conditions définies par le règlement intérieur, être électeur, majeur, résider dans l'un des pays membres de la Fédération Cynologique Internationale, être membre de l'association depuis au moins 36 mois, à jour de cotisation y compris celle de l'année en cours et ne pas pratiquer de façon habituelle l'achat de chiens pour les revendre.
Ces conditions doivent être satisfaites lors de l'envoi de la candidature sauf en ce qui concerne l'ancienneté qui est décomptée jusqu'au jour du scrutin.
Les administrateurs sont élus pour six ans, chaque année s'entendant d'un intervalle séparant deux assemblées générales ordinaires.
Le Comité se renouvelle par moitié tous les trois ans.
En cas de renouvellement complet du Comité la désignation des membres sortants après trois ans est fixée en tenant compte du nombre de voix obtenues par les membres du Comité désignés par cette assemblée, ceux ayant obtenus le plus grand nombre de voix étant élus pour six ans.
Les membres sortants sont rééligibles.
Un administrateur ne peut cumuler que deux autres mandats (administrateur d'association de race ou d'association canine territoriale)
Les fonctions d'administrateur sont gratuites et ne peuvent à quelque titre que ce soit donner lieu à rétribution.
Le remboursement des frais se fait dans les conditions définies par le règlement intérieur.
Pour les élections, les votes s'expriment soit à l'Assemblée Générale soit par correspondance, à bulletin secret, à la majorité relative (plus grand nombre de voix), à un seul tour. Le vote par procuration n'est pas admis.
ARTICLE 13 : COOPTATION
Si un siège d'administrateur devient vacant, dans l'intervalle de deux Assemblées Générales électives, le Comité peut le pourvoir, à condition de s'être d'abord prononcé sur lè principe d'une cooptation qui doit avoir été mis à l'ordre du jour.
Si la majorité des administrateurs est favorable à la cooptation, le Comité peut ensuite coopter un membre de l'association qui doit être éligible, après avoir porté la question à l'ordre du jour de la réunion suivante en notifiant le nom de ou des personnes à coopter.
La cooptation est soumise à l'assemblée générale suivante.
Si l'assemblée générale accepte l'administrateur coopté, celui-ci reste au Comité pour la durée du mandat de celui qu'il remplace.
Si l'assemblée générale refuse de ratifier la ou les cooptation(s), l'administrateur ou les administrateurs coopté(s)
cesse(nt) immédiatement de l'être mais les décisions prises par le Comité auquel il(s) a (ont) participé restent valables.
Aucune cooptation ne peut être effectuée dans les 365 jours précédant un scrutin.
Le Comité doit en tous cas être toujours formé par au moins un tiers de membres élus.
Si le quorum n'est plus atteint, le Comité doit se borner à organiser des élections en expédiant les affaires courantes.
Les postes des administrateurs suspendus dans les conditions fixées à l'article 15 ne sont pas vacants.
ARTICLE 14 : PERTE DE LA QUALITE D’ADMINISTRATEUR
La qualité d'administrateur se perd par :
 la démission qui n'a pas à être acceptée et qui se prouve par tous moyens,
 le décès,
 la révocation par l'assemblée générale.
ARTICLE 15 : LE BUREAU
Après chaque renouvellement, le Comité, prèsidé par son doyen, élit parmi ses membres, un bureau composé d'au moins un président, un vice-président, un secrétaire, un trésorier, ces deux dernières fonctions seules pouvant être cumulées.
Peuvent y être ajoutés un ou plusieurs vice-présidents, un secrétaire adjoint ou un trésorier adjoint
Ne peuvent faire ensemble partie du bureau, les membres d'une même famille en ligne directe, les personnes pacsées ou vivant sous le même toit.
Les membres du Bureau peuvent se voir retirer leur fonction, à tout moment, par le Comité statuant à la majorité des suffrages exprimés, l'administrateur concerné ne prenant pas part au vote.
L'administrateur suspendu de ses fonctions, reste cependant membre du Comité.
Le Président est, es qualités, le seul interlocuteur de la Centrale Canine.
Il est chargé d'exécuter les décisions du Comité dans le respect des statuts et règlements de l'Association et de la Centrale Canine.
Il est responsable de l'activité de l'Association qu'il représente dans tous les actes de la vie civile Il représente l'Association en Justice.
Il peut, à charge d'en référer sans délai au Comité, prendre toutes décisions lorsque l'Association est convoquée devant une Juridiction mais il ne peut engager une action sans avoir obtenu préalablement l'accord du Comité.
Il veille à la cohésion du Comité et à la concorde entre les membres de l'Association.
En cas de décès, de démission ou d'absence pour une longue durée du Président, le Vice-Président (le doyen des vice-présidents s'ils sont plusieurs) fait office de Président et doit convoquer dans le mois un Comité extraordinaire à fin d'élection d'un nouveau Président.
Le Secrétaire est chargé des tâches administratives nécessaires au bon fonctionnement de l'Association.
Il rédige notamment les procès-verbaux des réunions du Comité et de l'Assemblée Générale, veille à la tenue des documents correspondants et notamment la liste d'émargement des présents et des électeurs.
Il présente un rapport d'activité à l'Assemblée Générale.
Le Trésorier est chargé de la gestion du patrimoine de l'Association.
Sous la surveillance du Comité, il effectue tous paiements et encaisse les créances de l'Association. Il tient à jour la liste des adhérents et des cotisations.
Il ne peut aliéner les valeurs constituant les fonds de réserve, s'il en existe, qu'avec l'autorisation du Comité.
Il tient une comptabilité régulière de toutes les opérations qu'il effectue et en rend compte au Comité et à l'Assemblée Générale dont il sollicite l'approbation.
Tous les membres du Bureau ayant en leur possession des documents et du matériel appartenant à l'Association, doivent les rapporter au siège social dès cessation de leurs fonctions.
ARTICLE 16 : REUNIONS ET DELIBERATIONS DU COMITE
Le Comité se réunit :
 Sur convocation du Président aussi souvent que l'intérêt de l'Association l'exige et au minimum tous les six mois.
 Sur demande du tiers des administrateurs qui doivent, pour l'exiger, avoir défini un ordre du jour précis et transmettre leur requête au Président.
Celui-ci a seul la capacité pour convoquer le Comité mais il a l'obligation de le faire.
La réunion doit avoir lieu dans le mois : le lieu, la date et l'heure doivent être fixés avec loyauté.
La présence d'au moins 6 membres est nécessaire pour la validité de toutes les délibérations (quorum).
Le Comité statue à la majorité des suffrages exprimés par les membres présents, les bulletins blancs et nuls n'étant pas pris en compte ; chaque administrateur dispose d'une voix ; en cas de partage, la voix du Président est
prépondérante.
Le vote à bulletin secret peut toujours être exigé, même par un seul membre du Comité.
Le vote par procuration n'est pas admis.
Les administrateurs absents peuvent donner leur avis par le biais des moyens modernes de communication acceptés par l'ensemble du Comité. Sur les questions portées à l'ordre du jour, à condition que la même faculté soit reconnue à tous et soit indiquée dans la convocation mais ils ne peuvent pas voter par correspondance.
Pour les questions urgentes, le Président peut solliciter l'avis des administrateurs qui pourront répondre par le biais des moyens modernes de communication acceptés par l'ensemble du Comité.
Les délibérations du Comité sont transcrites dans des procès-verbaux soumis à l'approbation des administrateurs qui devront faire part de leurs observations dans les quinze jours de la réception du projet.
A défaut d'observations, le procès-verbal sera réputé approuvé. Il sera transcrit sur le registre des procès- verbaux.
ARTICLE 17 : POUVOIR DU COMITE
Le Comité est investi des pouvoirs les plus étendus pour agir au nom de l'Association et faire ou autoriser tous actes et opérations qui ne sont pas réservés à l'assemblée générale.
Il se prononce souverainement sur les demandes d'admission de nouveaux membres.
Il définit l'ordre du jour, la date et le lieu de l'assemblée générale.
Il surveille la gestion des membres du bureau et a toujours le droit de se faire rendre compte.
Il autorise le Président et le Trésorier à acheter, aliéner ou louer ce qui est nécessaire au fonctionnement de l'Association.
Il peut interdire au Président ou au Trésorier d'accomplir un acte qui entrerait pourtant dans leurs attributions mais dont l'opportunité serait contestée, notamment une action judiciaire.
Il peut, après avoir respecté les droits de la défense et la procédure définie au règlement intérieur, à la majorité des suffrages exprimés, en cas de faute grave ou d'absence à trois réunions consécutives sans motif valable, suspendre de ses fonctions de membre du Comité un ou plusieurs administrateurs, jusqu'à l'Assemblée Générale suivante qui devra se prononcer sur la révocation du ou des mandats.
L'administrateur suspendu ne peut pas être remplacé par cooptation.
Le Comité est la juridiction de première instance des infractions aux statuts et règlements, commises par les membres de l'Association ou des infractions commises par les participants au cours de manifestations organisées dans sa zone d'action.
Il doit veiller à ce que soient respectés les droits de la défense et à l'impartialité des personnes composant la juridiction disciplinaire.
Les faits qui n'auront pas donné lieu à engagement de la procédure disciplinaire telle que définie au règlement intérieur, dans le délai d'un an, ne pourront plus être motifs de sanction.
Il pourra être infligé les sanctions suivantes :
Aux personnes physiques
 Avertissement
 Exclusion temporaire ou définitive de l'Association.
 Interdiction de participer aux manifestations organisées par l'Association à titre temporaire ou définitif.
Avec éventuellement demande à la Centrale Canine d'étendre cette interdiction au plan national.
Aux personnes morales
 Avertissement
 Exclusion temporaire ou définitive.
Appel des décisions de l'Association canine territoriale peut toujours être soumis à la Centrale Canine.
Le Comité est Juridiction d'appel des décisions prises par ses membres personnes morales (Clubs d'Education canine et d'Utilisation) de sa zone d'activité.
Il a le devoir de statuer dans un délai raisonnable sur les appels qui lui sont déférés.
S'il ne le fait pas, la Centrale Canine pourra être saisie par l'appelant et évoquer la décision de première instance.
S'il le fait, sa décision ne pourra être soumise à la censure de la Centrale Canine qu'en cas d'irrégularité de procédure ou de violation des principes généraux du droit.
Le Comité peut mettre en place des Commissions à condition qu'elles aient le même objet que les Commissions Nationales.
Elles sont constituées de membres de l'association particulièrement qualifiés et peuvent s'adjoindre des personnes
dont la compétence dans les domaines traités est reconnue.
Ces Commissions n'ont pas de personnalité juridique.
Elles sont uniquement chargées d'étudier les sujets que leur confie le Comité Elles peuvent formuler des propositions mais elles ne peuvent prendre aucune décision.
Elles font un rapport de leur activité à l'assemblée générale.
Le mandat des membres des Commissions expire lors de chaque renouvellement statutaire du Comité (tous les trois ans).
ARTICLE 18 : ASSEMBLEES GENERALES
Les membres de l'Association se réunissent en Assemblée Générale qui est qualifiée d'extraordinaire lorsque ses décisions se rapportent à une modification des statuts ou à la dissolution de l'association et d'ordinaire dans les autres cas.
L'Assemblée Gènérale se compose de tous les membres de l'Association qui sont convoqués au moins un mois à l'avance, par voie de bulletin, par courrier ou par courriel. Toutefois en cas d'urgence le délai peut être réduit à 15 jours.
L'ordre du jour déterminé par le Comité est joint à la convocation.
Le vote par procuration n'est pas admis.
Le vote par correspondance est autorisé pour les élections seulement.
Seuls ont le droit de vote les membres à jour de leur cotisation pour l'exercice en cours et qui sont inscrits depuis neuf mois au moins à la date de l'Assemblée Générale.
Le matériel de vote tel que décrit par le règlement intérieur n'est donc adressé qu'aux membres à jour de cotisation et qui sont membres depuis neuf mois au moins à la date de l'assemblée générale.
Les membres justifiant de l'ancienneté requise, mais non à jour de cotisation, pourront voter s'ils paient leur dette avant l'ouverture du bureau de vote.
Les membres d'honneur et les personnes invitées n'ont pas le droit de voter.
L'Assemblée Générale Ordinaire se réunit au moins une fois par an, avant la fin du premier semestre, sur convocation du Président.
La convocation d'une assemblée générale peut être demandée par le tiers au moins des membres; elle est alors qualifiée "d'ordinaire convoquée extraordinairement".
Pour solliciter valablement une telle assemblée, les membres qui formulent cette demande doivent être à jour de cotisation, justifier d'une ancienneté de neuf mois et adresser leur requête contenant un ordre du jour précis, au Président.
Celui-ci qui ne peut se soustraire à cette obligation, doit lancer les convocations dans le mois en respectant des conditions loyales de date, heure et lieu.
L'Assemblée Générale est présidée par le Président de l'Association ou à défaut par un Vice-Président ou encore par un administrateur délégué à cet effet par le Comité.
Les fonctions de Secrétaire de l'assemblée générale sont remplies par le Secrétaire du Comité ou en son absence par un autre membre du Comité
Il est dressé une feuille de présence que les adhérents émargent pour avoir accès à la réunion
L'Assemblée Générale Ordinaire entend le rapport moral du président, le rapport du trésorier, le rapport d'activité du secrétaire et celui des commissions.
Elle approuve, redresse ou refuse le rapport financier, valide le budget prévisionnel de l'exercice suivant, ratifie ou refuse de ratifier les cooptations d’administrateur(s) cooptés et délibère sur tous les points de l'ordre du jour.
Sauf pour les élections, où le vote par correspondance est admis les décisions sont prises à la majorité simple des suffrages exprimés par les membres présents ayant le droit de vote.
Pour modifier ses statuts après approbation du projet par la Société Centrale Canine ou pour se prononcer sur sa dissolution, l'assemblée générale doit être extraordinaire c'est à dire réunir au moins Y. des membres ayant le droit de voter.
Si ce quorum n'est pas atteint, l'Assemblée est convoquée à nouveau et statue quel que soit le nombre des présents.
Dans les deux cas, la majorité des deux tiers des membres présents, ayant le droit de vote est requise.
Lorsqu'elle vote la dissolution de l'Association, l'assemblée générale extraordinaire désigne un ou plusieurs liquidateurs qui jouiront des pouvoirs les plus étendus pour réaliser l'actif et acquitter le passif puis attribuer le boni de liquidation à une association agréée par la Centrale Canine.
Les délibérations de l'assemblée générale sont constatées par des procès-verbaux transcrits sur un registre spécial et signés par le Président et le Secrétaire puis publiés dans le bulletin de l'Association. Ils sont obligatoirement adressés à la Centrale Canine.
ARTICLE 19 DISPOSITIONS GENERALES
Le Comité devra élaborer un Règlement Intérieur complétant les dispositions des présents statuts.
Tous les cas non prévus par les présents statuts seront réglés par le Comité suivant le sens le plus conforme à l'esprit des règlements et des usages de la Centrale Canine qui devra être informée de la décision adoptée et pourra s'y opposer, si elle n'est pas conforme à ses propres règlements.
Le Comité remplira les formalités de déclaration et de publication prescrites par la loi. Tous pouvoirs sont conférés à cet effet au porteur d'un original des présentes.
REGLEMENT INTERIEUR
DE L’ASSOCIATION CANINE TERRITORIALE RHÔNE-ALPES
Adopté en Assemblée Générale le 11 avril2015
Ce Règlement Intérieur a pour but de compléter et de préciser les dispositions statutaires.
Il pourra être modifié ou révisé sur proposition motivée du Comité ou de l'Assemblée Générale.
Auparavant, les modifications envisagées devront être soumises à la Centrale Canine et recevoir approbation.
Il devra être modifié à la demande de la Centrale Canine pour être conforme aux changements de ses propres statuts ou règlements.
Ce Règlement Intérieur et toute modification ultérieure à la présente rédaction n'entreront en application qu'après leur approbation - à la majorité simple - par l'Assemblée Générale de l'Association.
ARTICLE 1 : LE COMITE
Le Comité de l'Association Canine Territoriale Rhône-Alpes composé de 18 membres se renouvelle par moitié tous les 3 ans.
Les fonctions d'administrateur étant bénévoles, les frais engagés au bénéfice de l'association, à l'exclusion de tout autre, seront remboursés sur justificatif.
ARTICLE 2 : PARTICIPATION A L'ASSEMBLEE GENERALE DE LA CENTRALE CANINE
En sa qualité de membre de la Centrale Canine, l'Association Canine Territoriale Rhône-Alpes participe à l'assemblée générale de la fédération par la voix de ses représentants désignés par le Comité, selon les dispositions de l'article 3-1 du règlement intérieur de la Fédération. Ils composent le collège des associations territoriales.
ARTICLE 3 : EXPOSITIONS
Les expositions canines et épreuves de sélection pour chiens de toutes races, qu'elles soient nationales ou internationales, doivent contribuer :
 - au développement de l'élevage canin, en donnant aux éleveurs l'occasion de soumettre leurs produits à l'appréciation d'un Juge et de tirer des enseignements de leur confrontation avec ceux d'autres éleveurs,
 - à la promotion du chien de race auprès du grand public pour lequel ces manifestations constituent une occasion de voir, le même jour, un échantillonnage représentatif de races différentes et de s'informer sur la morphologie, le caractère et les aptitudes au travail des chiens présentés.
A cet effet, l'association s'efforcera d'associer les Délégués Régionaux des Associations Spécialisées de Race à l'organisation, au déroulement et à l'exploitation de ces épreuves.
En sa qualité de membre de la Société Centrale Canine, l'association s'engage à favoriser l'accès à l'examen de confirmation pour tous les cynophiles en organisant- en complément des expositions- des séances de confirmation.
ARTICLE 4 : DELEGUES
Le Comité peut nommer des délégués qui sont chargés de représenter l'Association dans la zone géographique qui leur est attribuée. Ils doivent lui rendre compte de leurs activités (recherche d'adhérents, organisation des manifestations qui leur sont confiées par le Comité, etc.).
Il est mis fin à leurs fonctions par décision du Comité.
ARTICLE 5 : LES COMMISSIONS
a) Commissions facultatives
En application de l'article 17 des statuts, des Commissions qui ont pour objet la préparation des travaux du Comité pourront être organisées notamment des Commissions de gestion, des Commissions techniques (Elevage, Exposition, etc.), des Commissions dans d'autres secteurs de l'utilisation (Chasse, Lévriers, Troupeaux, Travail à l'eau, etc ...).
Elles sont constituées de membres de l'association particulièrement qualifiés et peuvent s'adjoindre des personnes dont la compétence dans les domaines traités est reconnue.
Le Président des Commissions doit être membre du Comité.
b) Commissions obligatoires
Une Commission d'Utilisation appelée "Commission d'utilisation territoriale" (CUT) doit être mise en place pour relayer les activités gérées par la CUNCBG
Elle est constituée :
 de trois membres du Comité désignés à cet effet
 des Présidents des Clubs d'éducation canine et d'utilisation affiliés qui peuvent donner délégation à un membre de leur Comité.
Les membres de la Commission élisent un Président et un secrétaire.
Elle se réunit obligatoirement au moins une fois par an pour établir le calendrier des épreuves d'utilisation dans les disciplines gérées par la CUNCBG et pour faire le bilan de l'activité des Clubs d'éducation canine et d'Utilisation affiliés.
Une Commission appelée "Commission Territoriale d'Education et d'Activités Cynophiles" (CTEAC) doit être mise en place pour relayer les activités gérées par la CNEAC.
Elle est constituée :
 - De deux membres désignés par le Comité (Président ICTR, les deux postes pouvant se cumuler),
 - Les Présidents de l'association et de la CUT sont membres de droit,
 - Des Délégués Régionaux d'activités. (Soumis à l'approbation du Comité)
Elle se réunit au moins une fois par an pour établir le calendrier des disciplines, activités et stages gérés par la CNEAC et pour faire le bilan de l'activité des Clubs.
La gestion des clubs proposant uniquement des activités CNEAC est statutairement dévolue à la CUT.
ARTICLE 6 : DISCIPLINE
L'Association dispose d'un pouvoir disciplinaire sur ses membres et sur tous participants aux manifestations ou réunions qu'elle organise.
Tous les manquements ou fautes seront appréciés par le Comité siégeant en Conseil de discipline.
Les administrateurs concernés par les faits reprochés ne pourront pas siéger de sorte que la nécessaire impartialité de la juridiction disciplinaire soit respectée.
Les auteurs des faits seront convoqués devant le Conseil de discipline par lettre recommandée contenant précisément :
 Ce qui motive cette convocation,
 Les sanctions encourues,
 La date à laquelle le Conseil de discipline se réunira (en respectant un délai minimum de 15 jours)
 La possibilité de prendre auparavant connaissance des documents soumis au Conseil de discipline à condition de solliciter un rendez-vous à cette fin du secrétaire de l'association
 Le droit de s'exprimer par écrit et/ou de comparaître seul ou assisté.
 Les décisions prises par le Conseil de discipline sont notifiées aux intéressés par lettre recommandée avec A. R. contenant l'information de la possibilité de saisir, dans le délai de 15 jours, la Société Centrale Canine, juridiction d'appel.
ARTICLE 7 : ASSEMBLEES GENERALES
a) Organisation
La date et le lieu des assemblées générales sont fixés par le Comité de sorte que le plus grand nombre de membres puissent s'y rendre.
Le Trésorier dresse, avant chaque Assemblée Générale, la liste des Membres afin qu'ils soient convoqués.
Pour les assemblées générales non électives, les convocations contenant l'ordre du jour sont envoyées au moins un mois à l'avance. Toutefois en cas d'urgence le délai peut être réduit à 15 jours.
Ne sont autorisés à pénétrer dans la salle de la réunion que les membres inscrits sur la liste d'émargement sauf autorisation expresse du président et à condition que ces personnes ne prennent pas part aux votes.
b) Renouvellement des membres du comité
Deux mois au minimum avant l'Assemblée Générale au cours de laquelle se déroulera le scrutin pour le renouvellement statuaire partiel du Comité, (Article 12 des statuts de l'association), le président doit :
 informer les membres de l'association du nombre de postes à pourvoir,
 préciser la date limite des candidatures qui devront être envoyées par poste (lettre suivie, chronopost ou pli recommandé) de sorte qu'ils parviennent à la Commission des élections avant cette date.
Le Comité désigne parmi ses membres une Commission des élections, composée de 4 membres non rééligibles, chargée de vérifier la recevabilité des candidatures, de dresser la liste des candidats admis à figurer sur les bulletins de vote et de transmettre au Comité le procès-verbal de la réunion au cours de laquelle elle aura arrêté la liste des candidats
Le Secrétaire enverra aux membres de l'association la convocation à l'assemblée générale contenant l'ordre du jour en ajoutant pour ceux qui justifient de la qualité d'électeur, le matériel de vote c'est à dire le bulletin de vote et les enveloppes requises pour le vote par correspondance en précisant la date limite de réception de ces votes.
ARTICLE 8 :
L'association peut :
 Recourir au ministère d'un commissaire aux comptes.
 Faire participer aux travaux du Comité des salariés de l'association qui cependant n'ont pas voix consultative.
Le présent Règlement Intérieur a été soumis à la Centrale Canine et approuvé par l'Assemblée Générale du 11 avril 2015. Il est donc applicable immédiatement.</H4>
  </div>
  
  <input type="radio" name="tabs" id="tabthree">
  <label for="tabthree"><h4>Les ACT de France et Outre-Mer</h4></label>
  <div class="tab">
    <h1>Tab Three Content</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

    <input type="radio" name="tabs" id="tabthree">
  <label for="tabthree"><h4>Membres du Comité</h4></label>
  <div class="tab">
    <h1>Tab Three Content</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>

         <input type="radio" name="tabs" id="tabthree">
  <label for="tabthree"><h4>Trouvez les clubs près de chez vous</h4></label>
  <div class="tab">
    <h1>Tab Three Content</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>
 {% include 'includes/footer.html.twig' %}

{% endblock %}

